################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DGP.Genshin/bin/Debug
/.vs
/DGP.Snap.Framework/bin
/DGP.Snap.GenshinImpact.GachaStatistics/bin
/DGP.Snap.Test/bin
/DGP.Snap.Test/obj
/DGP.Snap.Launcher/obj
/DGP.Genshin/obj
/DGP.Snap.Framework/obj
/DGP.Snap.GenshinImpact.GachaStatistics/obj
/Build/Debug
/Build/Publish
/Build/DGP.Snap.AutoVersion.exe.config
/Build/DGP.Snap.AutoVersion.pdb
/DGP.Snap.AutoVersion/bin/Debug
/DGP.Snap.AutoVersion/obj
/DGP.Snap.Updater/obj/Debug
/Build/Release
/DGP.Snap.Updater/obj/Release
